<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Executive Registration</title>
</head>
<body>
<div>
    <button><a href="/">Back</a></button>

</div>
<h4>Executive Registration</h4>


<form action="/add" method="post">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    <label for="name">User Name</label><br>
    <input type="text" id="name" name="name" placeholder="Name"><br><br>
<!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->

    <label for="email">Email</label><br>
    <input type="text"  id="email" name="email" placeholder="Email"><br><br>
<!--    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="password"><br><br>
<!--    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->

    <label for="retypePassword">Retype Password</label><br>
    <input type="password" id="retypePassword" name="retypePassword" placeholder="retype password"><br><br>
<!--    <span th:if="${#fields.hasErrors('retypePassword')}" th:errors="*{retypePassword}"></span>-->

    <input type="submit" value="Sign Up"><br><br>

    <div th:if="${status}">
        <span th:text="${status}"</span>
    </div>
</form>
</body>
</html>